<nav class="navbar bg-dark border-bottom border-bottom-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <!-- Navbar content -->
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/products/list']" routerLinkActive="active">Products list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/products/add']" routerLinkActive="active">Add Product</a>
        </li>
      </ul>
      <span class="navbar-text">
        Store
      </span>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
