<footer class="wp-footer">
    <div class="row mx-0">
        <div class="col-12 m-auto">
            <div class="wp-footer-container">
                <p>جميع الحقوق محفوظة لدي شركة عالم النظم و البرامج</p>
            </div>
        </div>
    </div>
</footer>

<!-- <footer>
    <p>
        اذا كنت تحتاج مساعدة في عملية الدفع أو وجدت خطأ، يمكنك التواصل معنا على البريد الالكتروني
        <a href="support@worldofss.com">support@worldofss.com</a>
    </p>
    <p class="copyright">
        جميع الحقوق محفوظة لشركة عالم النظم والبرامج
    </p>
</footer>
-->
